.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Search Bar Styling */
.navbar-search {
  display: flex;
  align-items: center;
  width: 40%;
}

.search-input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px 0 0 25px;
  background: rgba(255, 255, 255, 225);
  color: white;
  width: 100%;
}

.search-button {
  padding: 0.5rem 1rem;
  background: #3a86ff;
  border: none;
  border-radius: 0 25px 25px 0;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.search-button:hover {
  background: #2667d6;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}